@model IEnumerable<UploadTransaction.Web.Models.TransactionModel>
@{
    ViewData["Title"] = "Transactions Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { }))
{
    <div class="form-row align-items-center">
        <div class="col-sm-2 my-1">
            <label class="sr-only" for="inlineFormInputCurrency">CurrencyCode</label>
            <input type="text" name="CurrencyCode" class="form-control" id="inlineFormInputCurrency" placeholder="Currency Code" value="@ViewBag.Arrival">
        </div>
         <div class="col-sm-2 my-1">
            <label class="sr-only" for="inlineFormInputStatus">Status</label>
            <input type="text" name="Status" class="form-control" id="inlineFormInputStatus" placeholder="Status">
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupFrom">From</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">From</div>
                </div>
                <input type="date" name="From" class="form-control" id="inlineFormInputGroupFrom">
            </div>
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupTo">To</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">To</div>
                </div>
                <input type="date" name="To" class="form-control" id="inlineFormInputGroupTo">
            </div>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </div>
    
}
<br/>
<br/>
<div class="text-center">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Payment</th>
            <th>Status</th>
        </tr>
        @if (Model.Any())
        {
            foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Amount @transaction.CurrencyCode</td>
                    <td>@transaction.Status</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No data</td>
            </tr>
        }
    </table>
</div>